html, body {
  background: url('https://unsplash.com/photos/71hQxE-Sfvg') center center no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  width: 100%;
}

.content {
  margin: auto;
  margin-top: 20px;
  width: 70%;
  height: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.title {
  padding-top: 100px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 4em;
  letter-spacing: 0.15rem;
  color: #fff;
}

label {
  color: #333;
}

.result-container {
  text-align: center;
  font-weight: 600;
  font-size: 4em;
  letter-spacing: 0.15rem;
  padding: 20px 0 0;
}

#result {
  color: #000;
}
